<center>
<h1>Viewing Party Lite</h1>
</center>

<center>
<% if !session[:user_id] %>
<%= button_to "Create a New User", new_user_path, method: :get %> 
<%= link_to "Login", login_path %>
<% else %>
<%= link_to "Log Out", logout_path %>
<% end %>

</center>

</section>